#seccionBuscador {
    display: flex;
    gap: 15px;
}

#barraBuscador {
    overflow: hidden;
    border: solid black 1px;
    width: 90%;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
#barraBuscador:hover {border: solid #baeb6c 1px;}

#barraBuscador img {
    margin: 0 12px;
    width: 20px;
}

#barraBuscador input {
    width: 100%;
    padding: 12px;
}